.burger-menu {
  position: absolute;
  inset: 0;
  display: none;
  background-color: rgba(250, 198, 99, 1);
  padding-inline-start: 15px;
}

.header__burger-menu-icon {
  width: 46px;
  height: 38px;
  margin-block-start: 12px;
}

.burger-menu__content_button {
  position: absolute;
  width: 14px;
  height: 14px;
  top: 25px;
  right: 25px;
  background-color: transparent;
  border: none;
}

.burger-menu__content_button:focus {
  appearance: none;
  outline: none;
}

.burger-menu__content_button:focus-visible {
  outline: 2px solid black;
}

.header__burger-menu-nav-list {
  display: flex;
  flex-direction: column;
  margin-block: 50px 40px;
  gap: 25px;
  list-style: none;
  font-size: 20px;
}

.header__burger-menu-nav-list-item a {
  font-size: 20px;
}

.header__burger-menu-social-list {
  display: flex;
  list-style: none;
  gap: 20px;
  margin-block-start: 25px;
}

.header__burger-menu-link-tel {
  margin-block: 15px;
}

.header__burger-menu-social-list a img {
  width: 24px;
  height: 24px;
}