.rooms {
  margin-block-start: 137px;
  padding-inline: 69px 71px;
}

.rooms__title {
}

.rooms__slider {
}
.slider__card {
  display: flex;
}
.slider__card-image {
  inline-size: 600px;
  block-size: 404px;
  border-radius: 10px;
}
.slider__card-description {
  margin-inline-start: -70px;
  padding: 40px 117px 40px 100px;
  margin-block: 60px;
}
.slider__card-description-title {
}

.slider__card-description-list {
  margin-block: 30px;
}
.slider__card-description-list-item {
  position: relative;
  margin-inline-start: 21px;
}
.slider__card-description-list-item::before {
  content: "";
  position: absolute;
  inset: 1.5px -21px;
  inline-size: 13px;
  aspect-ratio: 1 / 1;
  background-color: #fac663;
  border-radius: 50%;
}


