*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  /* max-inline-size: 1366px; */
  margin: 0 auto;
  color: #1A212F;
  font-family: Lato, Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 1rem;
  background-color: #FFFEFD;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li,
a {
  margin: 0;
  padding: 0;
}

img {
  inline-size: 100%;
}

button, a {
  font-family: inherit;
}

li {
  list-style: none;
}