
.section-title {
  margin-block-end: 70px;
  font-family: Rubik-bold, Arial, Helvetica, sans-serif;
  font-size: 36px;
  line-height: 1.19;
  text-align: center;
}

.card-title {
  font-family: Rubik-bold, Arial, Helvetica, sans-serif;
  font-size: 22px;
  line-height: 1.19;
}

.button {
  font-weight: 600;
  line-height: 1.2;
  color: #FFFEFD;
  background-color: #FF7236;
  border: none;
  border-radius: 26px;
  outline: none;
  padding: 18px 63px 20px 30px;
}

.card {
  box-shadow: 0 0 25px 0 rgba(208, 208, 208, 0.25);
  background-color: #fff;
  border-radius: 8px;
}

a {
  text-decoration: none;
  font-family: 'Lato-regular', sans-serif;
  font-weight: 600;
  font-size: 15px;
  line-height: 19.2px;
  color: black;
  cursor: pointer;
}

a:hover {
  text-decoration: underline;
}

a:focus {
  appearance: none;
  outline: none;
}

a:focus-visible {
  outline: 2px solid black;
}

.content-wrapper {
  max-inline-size: 1170px;
  margin: 0 auto;
}

@media (width > 320px) { 
  .content-wrapper {
    padding-inline: 45px;
  }
}

@media (width > 768px) { 
  .content-wrapper {
    padding-inline: 98px;
  }
}
